.container{

	width:auto;
	padding:0 15px;
}



main{
	margin-bottom: 90px;
}

html{
    position:relative;
    min-height:100%; 
    
      } 
      body{

        padding-bottom:100px; 
        font-family: "Lato", sans-serif;
        
	  }
	  
	  .footer{
		position:absolute;
		width:100%;
		height:80px;
		line-height:60px;
		background-color:#007bff;
		bottom:0;
		}

		@media screen and (min-height: 768px) {
			body{
					padding-bottom:600px;
			}

		 
		}